@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-02-27 13:52:05
 * @version $Id$
 */
.gray {
	position: absolute;
	height: 200px;
	width: 400px;
	background-color: #ccc;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}
#yellow,#yellow2 {
	height: 100px;
	width: 100px;
	background-color: #fc0;
	border-radius: 50px;
}
#yellow {
	position: absolute;
	top: -50px;
	left: -50px;
}
#yellow2 {
	position: absolute;
	right: -50px;
	bottom: -50px;
}